<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>My Blog</title>
</head>

<body>
  <header>
    <h2>Welcome to my blog!</h2>
  </header>
  <nav>
    <ul>
      <li><a href="./My Blog.html">My Blog</a></li>
      <li><a href="./Survey.html">Survey</a></li>
    </ul>
  </nav>

  <main>
    
    <article>

      <h3>HTML versions timeline</h3>
      <section>
        <h4>HTML2 - November 24, 1995</h4>
        <p style="font-size: 13px;">HTML 2.0 was published as RFC 1866. Supplemental RFCs added capabilities:</p>
        <ul>
          <li style="font-size: 13px;">November 25, 1995: RFC 1867 (form-based file upload)</li>
          <li style="font-size: 13px;">May 1996: RFC 1942 (tables)</li>
          <li style="font-size: 13px;">August 1996: RFC 1980 (client-side image maps)</li>
          <li style="font-size: 13px;">January 1997: RFC 2070 (internationalization)</li>
        </ul>
      </section>

      <section>
        <h4>HTML3 - January 14, 1997</h4>
        <p style="font-size: 13px;">HTML 3.2 was published as a W3C Recommendation. It was the first version developed and standardized exclusively by the W3C, as the IETF had closed its HTML Working
          Group on September 12, 1996.</p>
        <p style="font-size: 13px;">Initially code-named "Wilbur", HTML 3.2 dropped math formulas entirely, reconciled overlap among various proprietary extensions and adopted most of Netscape's
          visual
          markup tags. Netscape's blink element and Microsoft's marquee element were omitted due to a mutual agreement between the two companies. A markup for mathematical formulas similar to that of
          HTML
          was standardized 14 months later in MathML.</p>
      </section>

      <section>
        <h4>HTML4 - December 18, 1997</h4>
        <p style="font-size: 13px;">HTML 4.0 was published as a W3C Recommendation. It offers three variations:</p>
        <ul>
          <li style="font-size: 13px;">Strict, in which deprecated elements are forbidden</li>
          <li style="font-size: 13px;">Transitional, in which deprecated elements are allowed</li>
          <li style="font-size: 13px;">Frameset, in which mostly only frame related elements are allowed.</li>
        </ul>
        <p style="font-size: 13px;">Initially code-named "Cougar", HTML 4.0 adopted many browser-specific element types and attributes, but also sought to phase out Netscape's visual markup features
          by marking them as deprecated in favor of style sheets. HTML 4 is an SGML application conforming to ISO 8879 – SGML.</p>
      </section>

      <section>
        <h4>HTML4 - April 24, 1998</h4>
        <p style="font-size: 13px;">HTML 4.0 was reissued with minor edits without incrementing the version number.</p>
      </section>

      <section>
        <h4>HTML4 - December 24,1999</h4>
        <p style="font-size: 13px;">HTML 4.01 was published as a W3C Recommendation. It offers the same three variations as HTML 4.0 and its last errata were published on May 12, 2001.</p>
      </section>

      <section>
        <h4>HTML4 - May 2000</h4>
        <p style="font-size: 13px;">ISO/IEC 15445:2000 ("ISO HTML", based on HTML 4.01 Strict) was published as an ISO/IEC international standard. In the ISO, this standard is in the domain of the
          ISO/IEC
          JTC 1/SC 34 (ISO/IEC Joint Technical Committee 1, Subcommittee 34 – Document description and processing languages).</p>
        <p style="font-size: 13px;">After HTML 4.01, there were no new versions of HTML for many years, as the development of the parallel, XML-based language XHTML occupied the W3C's HTML Working
          Group
          through the early and mid-2000s.</p>
      </section>

      <section>
        <h4>HTML5 - October 28, 2014</h4>
        <p style="font-size: 13px;">HTML5 was published as a W3C Recommendation.</p>
      </section>

      <section>
        <h4>HTML5 - November 1, 2016</h4>
        <p style="font-size: 13px;">HTML5.1 was published as a W3C Recommendation.</p>
      </section>

      <section>
        <h4>HTML5 - December 14, 2017</h4>
        <p style="font-size: 13px;">HTML5.2 was published as a W3C Recommendation.</p>
      </section>

    </article>

  </main>

  <footer>
    © 2022 Thoughtworks
  </footer>

</body>

</html>

<style>
  html {
    height: 100%;
  }

  body {
    position: relative;
    /* height: 95%; */
    margin: 10px;
    box-sizing: border-box;
    padding: 0px 10px 40px 10px;
  }

  footer {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 13px;
  }
</style>