<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Survey</title>
</head>

<body>
  <header>
    <h2>Welcome to my blog!</h2>
  </header>

  <nav>
    <ul>
      <li><a href="./My Blog.html">My Blog</a></li>
      <li><a href="./Survey.html">Survey</a></li>
    </ul>
  </nav>

  <main>
    <h3>Survey form</h3>
    <form action="">

      Your background:
      <input type="radio" name="background" id="Student" value="Student">
      <label for="background">Student</label>
      <input type="radio" name="background" id="Software developer" value="Software developer">
      <label for="Software developer">Software developer</label>
      <input type="radio" name="background" id="Other" value="Other">
      <label for="Other">Other</label>
      <br>

      <label for="feel">How do you feel about my blog:</label>
      <select name="feel" id="feel">
        <option value="">--Please choose your answer--</option>
        <option value="very good">very good</option>
        <option value="good">good</option>
        <option value="soso">soso</option>
        <option value="bad">bad</option>
      </select>
      <br>

      The topics that you want me to share:
      <input type="checkbox" name="topics" value="Git" id="Git">
      <label for="Git">Git</label>
      <input type="checkbox" name="topics" value="CSS" id="CSS">
      <label for="CSS">CSS</label>
      <input type="checkbox" name="topics" value="HTML" id="HTML">
      <label for="HTML">HTML</label>
      <input type="checkbox" name="topics" value="Javascript" id="Javascript">
      <label for="Javascript">Javascript</label>
      <br>

      <label for="feedback">Your feedback:</label>
      <br>
      <textarea rows="13" cols="40" id="feedback" name="feedback"></textarea>
      <br>

      <label for="blogId">Your blog id: </label>
      <input type="text" id="blogId" name="blogId">
      <br>

      <input class="btn" type="submit" value="submit">

    </form>

  </main>


  <footer class="footer" style="font-size: 13px;">
    © 2022 Thoughtworks
  </footer>

</body>

</html>

<style>
  html {
    height: 100%;
  }

  body {
    position: relative;
    /* height: 95%; */
    margin: 10px;
    box-sizing: border-box;
    padding: 0px 10px 40px 10px;
  }


  .btn {
    margin: 20px 0 10px 0;
  }


  footer {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
</style>